
     <div class="blocjoueur">
          <span class="jersey"> Numero de maillot :<span class="info">  {{leagues.standard.jersey}} </span></span>
          <h4 class="firstname"> Prenom : <span class="info"> {{firstName}} </span> </h4>
          <h4 class="lastname"> Nom : <span class="info"> {{lastName}} </span> </h4>
          <h4 class="id">  ID : <span class="info"> {{playerId}}  </span> </h4>
      </div>







