


    <div class="bloclub" data-id="{{teamId}}">
          <h4 class="nameclub" > <p class="teamname_second"> Nom : <p> <span class="info"> {{fullName}} </span> </h4>
          <div class="align_logo"><img src="{{logo}}" class="logo"></div>
      </div>